<% title "Default Parameters" %>
<h1>Default Parameters</h1>
<% semantic_form_for @user, :url => 'settings/update' do |e| %>
    <%= e.error_messages %>
<table class="table" style="margin-bottom: 0.5em">
  <tr class="tr">
  	<th class="th">Nazwa parametru</th>
    <th class="th" style="width:35%;">Wartość</th>
    <th class="th" style="width:15%;">Widoczność</th>
  </tr>
  <tr class="tr" style="background-color:<%=cycle('#FFF', '#EEE')%>;">
  	<td class="td"><label title="Maksymalna liczba usług przekazywana jako kandydaci do realizacji pojedynczego zadania procesu złożonego" >Maksymalna liczba wersji usług</label></td>
    <td class="td"><%= e.inputs :max_kandydatow, :class => 'simple_input' %></td>
    <td class="td" style="text-align:center;">
	<% e.inputs :class => "radio_buttons" do %>
	<%= e.input :max_kandydatow_vis, :class => 'visibility', :as => :radio, :collection => [['widoczny','true'],['ukryty','false']] %>
	<% end %></td>
	</td>
  </tr>
    <tr class="tr" style="background-color:<%=cycle('#FFF', '#EEE')%>;">
  	<td class="td"><label title="Maksymalna liczba iteracji algorytmu heurystycznego poszukującego planów sąsiednich do aktualnego planu wykonania usługi złożonej">Liczba poszukiwanych planów sąsiednich</label></td>
    <td class="td"><%= e.inputs :iteracji_planow_sasiednich, :class => 'simple_input' %></td>
    <td class="td" style="text-align:center;">
	<% e.inputs :class => "radio_buttons" do %>
	<%= e.input :iteracji_planow_sasiednich_vis, :class => 'visibility', :as => :radio, :collection => [['widoczny','true'],['ukryty','false']] %>
	<% end %></td>
  </tr>
    <tr class="tr" style="background-color:<%=cycle('#FFF', '#EEE')%>;">
  	<td class="td"><label title="Parametr umożliwiający uśrednienie kompozycji, jeśli w algorytmach narzędzia wykorzystywana jest losowość">Liczba powtórzeń kroku</label></td>
    <td class="td"><%= e.inputs :iteracji_alg_h, :class => 'simple_input' %></td>
    <td class="td" style="text-align:center;">
	<% e.inputs :class => "radio_buttons" do %>
	<%= e.input :iteracji_alg_h_vis, :class => 'visibility', :as => :radio, :collection => [['widoczny','true'],['ukryty','false']] %>
	<% end %></td>
  </tr>
    <tr class="tr" style="background-color:<%=cycle('#FFF', '#EEE')%>;">
  	<td class="td"><label title="Jest to dopuszczalny (minimalny) stopień podobieństwa pomiędzy konceptami wymagań.">Stopień podobieństwa</label></td>
    <td class="td"><%= e.inputs :podobienstwo, :class => 'simple_input' %></td>
    <td class="td" style="text-align:center;"><%- e.inputs :class => "radio_buttons" do -%>
	<%= e.input :podobienstwo_vis, :class => 'visibility', :as => :radio, :collection => [['widoczny','true'],['ukryty','false']] %>
	<% end %></td>
  </tr>
  <tr class="tr" id="hid_params" style="background-color:<%=cycle('#FFF', '#EEE')%>;width:100%;">
  	<td class="td"><label title="Algorytm doboru usług">Algorytm doboru usług</label></td>
    <td class="td" style="border-right:none;">
    	<% e.inputs :class => 'simple_input' do %><%= e.input :algorytm_doboru_uslug,  :as => :select, :collection => [['filtr exact match (dokładny)','exact_match_2'],['filtr plug-in math services','plugin_math_services']], :include_blank => false %>
<% end %>
    </td>
	<td class="td" style="border-left:none;"><%= link_to "Opisy filtrów", "/filtry.html", :target => :blank %></td>
  </tr>
  
</table>
<%= link_to "Pokaż zaawansowane", "#", :id => "toogle_params" %>
<br /><br />
	<%= submit_tag "Save", :style => "padding: .4em 1em;" %>
<% end %>
<%= javascript_tag("
     $j(document).ready(function() {
        $j('#hid_params').hide();
        $j('a#toogle_params').click(function() {
          $j('#hid_params').slideToggle(1);
			$j(this).text($j(this).text() == 'Pokaż zaawansowane' ? 'Ukryj zaawansowane' : 'Pokaż zaawansowane');
          return false;
        });
      });
") %>
<%= javascript_tag("
     $j(document).ready(function() {
        $j('#tutorial').hide();
		new Ajax.Updater('tutorial', '/pages/get_photo/0/Settings', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('r4Zxnv4m0jgTfZpMqpoj44hFkzxsmNd/8rRcGbkfoVw=')})
        $j('a#toogle_tutorial').click(function() {
		$j('#tutorial').slideToggle(400);
		  return false;
        });
      });
") %>