<% begin %>
<% wymagania = Hash.from_xml(@experiment.result)["request"]["functionalities"]["functionality"] %>
<% w_array = wymagania.sort{ |a,b| a["id"] <=> b["id"] } 
%>
<br>
<div>
<a id='toogle_opinion' href=\"javascript:void(0)\">Estymuj bezpieczeństwo usługi złożonej</a> | <a id='toogle_raport' href=\"javascript:void(0)\">Generuj raport szczegółowy</a> | <a id='toogle_xml' href=\"javascript:void(0)\">Pokaż wynik w xml</a> | <a href=\"<%= experiment_result_path(@experiment) %>\" target='_blank'>Pokaż wynik w xml</a>
</div>
<br>
<div id='opinion'>
</div>
<!--
<% python = [] %>
<% w_array.each do |w| %>
  <% k_array = Array.new %>
  <% k_array <<= w["services"]["service"] %>
  <% k_array = k_array.flatten %> 
  <% k_array.each do |k| %>
    <% if k["chosen"] %>
      <% python << "#{k["name"]},#{k["description"]}" %>
    <% end %>
  <% end %>
<% end %>
<%= python.join(' ') %><br/>
<a href='#' onclick='<%= remote_function(:update => "opinion", :url => { :controller => "experiments", :action => "get_opinion", :id => @experiment.id } )%>'>Estymuj bezpieczeństwo usługi złożonej</a>


<a href='http://localhost:3000/experiments/get_opinion/<%=@experiment.id%>'>Estymuj bezpieczeństwo usługi złożonej</a>
<div id='opinion'>
Opinia o usłudze:<br>
Belief: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["belief"] : " " %><br>
Disbelief: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["disbelief"] : " " %><br>
Uncertainty: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["uncertainty"] : " " %><br>
</div>
-->

<div id='raport' style='display:none;'>
<hr/>
 Raport szczegółowy (usługi kandydujące oraz wybrane - zaznaczone na zielono):
<% w_array.each do |w| %>
  <ul>
  Wymaganie <%= w["id"] %><br/>
  <% k_array = Array.new %>
  <% k_array <<= w["services"]["service"] %>
  <% k_array = k_array.flatten %> 
  <% k_array.each do |k| %>
    <li style='color: <%= k["chosen"]=="true" ? "green" : "black" %>'> 
      ID: <%=k["id"]%>, NAZWA: <%=k["name"]%>, KOSZT: <%=k["cost"]["value"]%>, CZAS <%=k["time"]["value"]%><br/>
      INPUT: <%=k["input"].to_a.join(",") %>, OUTPUT: <%=k["output"].to_a.join(",") %>, Chosen: <%= k["chosen"] %><br/>
    </li>
  <% end %>
  </ul>
<% end %>
</div>
<div id='xml'>
<hr/>
 Wynik w xml:
 <br><br>
	<%= h(@experiment.result).gsub(/[\n ]&lt/, "<br>&lt") %>
</div>


<hr />
 Otrzymane usługi:
<ul>
<% w_array.each do |w| %>
  <li>
  Wymaganie <%= w["id"] %><br/>
  <% k_array = Array.new %>
  <% k_array <<= w["services"]["service"] %>
  <% k_array = k_array.flatten %> 
  <% k_array.each do |k| %>
    <% if k["chosen"]=="true" %>
      ID: <%=k["id"]%>, NAZWA: <%=k["name"]%>, KOSZT: <%=k["cost"]["value"]%>, CZAS <%=k["time"]["value"]%><br/>
      INPUT: <%= k["input"].to_a.join(",") %> , OUTPUT: <%= k["output"].to_a.join(",") %><br/>
    <% end %>
  <% end %>
  </li>
<% end %>
<br/>
</ul>
<% rescue %>
Brak/bledne wyniki.
<% end %>